:javascript
  (function(f,b){
    var c;
    f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
    f._hjSettings={hjid:39715, hjsv:4};
    c=b.createElement("script");c.async=1;
    c.src="//static.hotjar.com/c/hotjar-"+f._hjSettings.hjid+".js?sv="+f._hjSettings.hjsv;
    b.getElementsByTagName("head")[0].appendChild(c); 
  })(window,document);
/ %script{type: 'text/javascript'}