%ul.nav.nav-tabs.margin-top-20
  %li.active{role: "presentation"}
    %a{:href => "#one", role: 'tab', 'data-toggle' => 'tab', 'aria-controls' => 'one'}
      = t('search')
  %li{role: "presentation"}
    %a{:href => "#two", role: 'tab', 'data-toggle' => 'tab', 'aria-controls' => 'two'}
      = t('load_single_data_file')
  %li{role: "presentation"}
    %a{:href => "#three", role: 'tab', 'data-toggle' => 'tab', 'aria-controls' => 'three'}
      = t('load_multiple_data_file')