.tab-panel
  = render 'tabs_result'
  .container
  .tab-content
    = render 'stubs/tabs/one'
    = render 'stubs/tabs/two'
    = render 'stubs/tabs/three'
    = render 'stubs/tabs/result_details', object: @folder