%ul.nav.nav-tabs.margin-top-20
  - locals[:tabs].each do |tab, active|
    %li{role: "presentation", class: (!active.nil? ? 'active' : '')}
      %a{:href => "#" + tab.to_s, role: 'tab', 'data-toggle' => 'tab', 'aria-controls' => tab.to_s}
        = t(tab)