.tab-panel
  = render 'tabs', locals: { tabs: @tabs }
  .container.folder
  .tab-content
    - @tabs.each do |tab, active|
      = render '/folders/tabs/' + tab.to_s, locals: { resource: @resource, active: active }