.row.margin-top-40
  %div
    .panel.panel-success
      .panel-heading
        = t 'folder.education.title'
      .panel-body
        -if locals[:educations].length
          %table.table.table-condensed.table-striped
            %thead
              %tr
                %th.col-xs-3
                  = t('folder.education.years')
                %th.col-xs-3
                  = t 'folder.education.place'
                %th
                  = t 'folder.education.level'
            %tbody
              - locals[:educations].each do |education|
                %tr
                  %td
                    = l education.startDate, format: :years
                    &dash;
                    = l education.endDate, format: :years unless education.endDate.nil?
                    = ' ' + t('yy')
                  %td
                    = education.place
                  %td
                    = t education.educationLevel unless education.educationLevel.nil?
        - else
          = t 'no_data'
