.row.margin-top-20
  %div
    .panel.panel-success
      .panel-heading
        = t 'folder.foreign_language.title'
      .panel-body
        - if locals[:languages].length
          %table.table.table-condensed
            %tbody
              - locals[:languages].each do |language|
                %tr
                  %td{style: 'border:none;'}
                    - knowledge = locals[:lang_knowledges].select{|knowledge| knowledge["languageId"] == language.languageId }
                    = language.name
                    = ' (' + knowledge[0][:level] + ')' unless knowledge[0][:level].nil?
        - else
          = t 'no_data'