.row.margin-top-20
  %div
    .panel.panel-success
      .panel-heading
        = t 'folder.note.title'
      .panel-body
        - if !locals[:note].nil?
          %table.table.table-condensed
            %tbody
              %tr
                %td{style: 'border:none;'}
                  = locals[:note]
        - else
          = t 'no_data'