%tr
  %td.text-right{style: 'border: 0'}
    %h4{style: 'line-height: 10%;'}
      %strong
        = t('folder.ordination.' + locals[:ordination].ordinationType) + ':'
  %td
    = [l(locals[:ordination].date, format: :day), t(:'date.month_names')[l(locals[:ordination].date, format: :month).to_i], l(locals[:ordination].date, format: :years), t('y')].join(' ')
  %td
    = t('cur') + ' ' + locals[:ordination].bishop.firstName + ' ' + locals[:ordination].bishop.lastName