.row.margin-top-20
  %div
    .panel.panel-success
      .panel-heading
        = t 'folder.publications.title'
      .panel-body
        - if locals[:publications].length
          %table.table.table-condensed.table-striped
            %tbody
              - i = 0
              - locals[:publications].each do |publication|
                %tr
                  %td
                    = i += 1;
                    - publication_info = []
                    - publication_info << publication.name
                    - unless publication.date.nil?
                      - publication_info << [l(publication.date, format: :day), t(:'date.month_names')[l(publication.date, format: :month).to_i], l(publication.date, format: :years), t('y')].join(' ')
                    = publication_info.join(', ')
        - else
          = t 'no_data'