#one.tab-pane{role: 'tabpanel'}
  = form_tag folders_search_path, class: ['form-inline', 'margin-top-40', 'col-sm-8', 'col-sm-offset-2', 'col-xs-offset-0', 'text-center'] do
    .form-group.col-xs-12.col-sm-12
      = text_field_tag 'searchsting', '', style: 'width: 80%; margin: 0 auto;', class: 'form-control'
    .form-group.margin-top-20
      %submit.btn.btn-success{:type => 'button', :style => 'width: 30%'}
        = t('search')
