#result.tab-pane.active{role: 'tabpanel'}
  %h3
    %strong
      = t('search_result') + ':'
  - unless locals[:folders].nil?
    - locals[:folders].each do |folder|
      - unless(folder.firstName.nil? and folder.lastName.nil?)
        = render 'folders/results/result_item', locals: {folder: folder}
  - else 
    = t 'no_data'