#result.tab-pane.active{role: 'tabpanel'}
  .margin-top-40
    .row
      .col-lg-2.col-md-3.col-sm-4.col-xs-12
        %img{:src => "#", :alt => "this is image with 200 pixels dimention", width: '200', height: '200'}/
      .col-lg-9.col-lg-offset-1.col-md-9.col-sm-8.col-xs-12
        = render 'stubs/result_details/small_row', locals: { label: 'folder.first_name', data: @folder.firstName }
        = render 'stubs/result_details/small_row', locals: { label: 'folder.last_name', data: @folder.lastName }
        = render 'stubs/result_details/small_row', locals: { label: 'folder.sex', data: @folder.sex }
        = render 'stubs/result_details/small_row', locals: { label: 'folder.diocese', data: @folder.diocese.name }
        = render 'stubs/result_details/small_row', locals: { label: 'folder.monkCommunity', data: @folder.monk_community.name }
        = render 'stubs/result_details/small_row', locals: { label: 'folder.perpetualVowsDate', data: [l(@folder.perpetualVowsDate, format: :day), t(:'date.month_names')[l(@folder.perpetualVowsDate, format: :month).to_i], l(@folder.perpetualVowsDate, format: :years), t('y')].join(' ') }
    .row
      .col-sm-9.col-sm-offset-1.margin-top-20
        %table.table.table-stripped
          %thead
            %tr
              %th.text-center{style: 'width: 8%'}
                %h3
                  %strong
                    = t 'folder.ordination.name'
              %th.text-center{style: 'width: 20%'}
                %strong
                  = t 'folder.ordination.date'
              %th.text-center
                %strong
                  = t 'folder.ordination.ordinator'
            %tbody
              - @folder.ordinations.each do |ordination|
                = render 'stubs/result_details/ordination_row', locals: {ordination: ordination}
    = render '/stubs/result_details/row', locals: { label: 'folder.contact.address', data: @folder.address}
    - @folder.phones.each do |phone|
      = render '/stubs/result_details/row', locals: { label: phone.description, data: phone.phoneNumber }
    - @folder.emails.each do |email|
      = render '/stubs/result_details/row', locals: { label: 'folder.contact.email', data: email.email }
    = render '/stubs/result_details/row', locals: { label: 'folder.contact.web_page', data: @folder.webPage }
    = render '/stubs/result_details/education', locals: { educations: @folder.educations }
    = render '/stubs/result_details/dissertations', locals: { dissertations: @folder.dissertations }
    = render '/stubs/result_details/experiences', locals: { experiences: @folder.experiences }
    = render '/stubs/result_details/publications', locals: { publications: @folder.publications }
    = render '/stubs/result_details/languages', locals: { languages: @folder.languages, lang_knowledges: @folder.language_knowledges }
    = render '/stubs/result_details/note', locals: { note: @folder.note }
    .row
      .col-sm-9.col-sm-offset-1
        .margin-top-40.text-center
          .col-sm-6
            %h3{ style: 'display: inline-block;'}
              %strong
                = t 'date.title'
            .date{ style: 'border-bottom: 1px solid grey; display: inline-block; margin-left: 10px;'}
              - time = Time.now
              = [l(time, format: :day), t(:'date.month_names')[l(time, format: :month).to_i], l(time, format: :years), t('y')].join(' ')
          .col-sm-6
            %h3{ style: 'display: inline-block;'}
              %strong
                = t 'sign'
            .sign{ style: 'border-bottom: 1px solid grey; display: inline-block; margin-left: 10px;'}
              = @folder.firstName + ' ' + @folder.lastName
    .row.margin-top-40
      .col-sm-9.col-sm-offset-1
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis, aspernatur ullam eos voluptatem blanditiis libero explicabo similique! Accusantium iusto recusandae quia cumque debitis sed dolorem veritatis, laudantium unde nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis, aspernatur ullam eos voluptatem blanditiis libero explicabo similique! Accusantium iusto recusandae quia cumque debitis sed dolorem veritatis, laudantium unde nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis, aspernatur ullam eos voluptatem blanditiis libero explicabo similique! Accusantium iusto recusandae quia cumque debitis sed dolorem veritatis, laudantium unde nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis, aspernatur ullam eos voluptatem blanditiis libero explicabo similique! Accusantium iusto recusandae quia cumque debitis sed dolorem veritatis, laudantium unde nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis, aspernatur ullam eos voluptatem blanditiis libero explicabo similique! Accusantium iusto recusandae quia cumque debitis sed dolorem veritatis, laudantium unde nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis, aspernatur ullam eos voluptatem blanditiis libero explicabo similique! Accusantium iusto recusandae quia cumque debitis sed dolorem veritatis, laudantium unde nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis, aspernatur ullam eos voluptatem blanditiis libero explicabo similique! Accusantium iusto recusandae quia cumque debitis sed dolorem veritatis, laudantium unde nesciunt.