#result_details.tab-pane.active{ role: 'tabpanel', class: (!locals[:active].nil? ? 'active' : '') }
  - folder = locals[:resource]
  .margin-top-40
    .row
      .col-lg-2.col-md-3.col-sm-4.col-xs-12
        - unless folder.avatar_url.nil?
          = filepicker_image_tag folder.avatar_url, w: 200, h: 200, fit: 'clip'
          = form_for folder, url: { action: 'upload_avatar' } do |f|
            = f.filepicker_field :avatar_url, button_text: I18n.t('folder.photo.change'), button_class: ['btn', 'btn-success', 'btn-xs'],  onchange: 'form.submit();return false;'
        - else
          %div{style: 'width: 200px; height: 200px; background: #ccc;'}
            = form_for folder, url: { action: 'upload_avatar' } do |f|
              = f.filepicker_field :avatar_url, button_text: I18n.t('folder.photo.choose'), button_class: ['btn', 'btn-success'],  onchange: 'form.submit();return false;'
      .col-lg-9.col-lg-offset-1.col-md-9.col-sm-8.col-xs-12
        = render '/folders/result_details/small_row', locals: { label: 'folder.first_name', data: folder.firstName }
        = render '/folders/result_details/small_row', locals: { label: 'folder.last_name', data: folder.lastName }
        = render '/folders/result_details/small_row', locals: { label: 'folder.sex', data: folder.sex }
        = render '/folders/result_details/small_row', locals: { label: 'folder.diocese', data: folder.diocese.name } unless folder.diocese.nil?
        = render '/folders/result_details/small_row', locals: { label: 'folder.monkCommunity', data: folder.monk_community.name } unless folder.monk_community.nil?
        = render '/folders/result_details/small_row', locals: { label: 'folder.perpetualVowsDate', data: [l(folder.perpetualVowsDate, format: :day), t(:'date.month_names')[l(folder.perpetualVowsDate, format: :month).to_i], l(folder.perpetualVowsDate, format: :years), t('y')].join(' ') } unless folder.perpetualVowsDate.nil?
    - if folder.ordinations.length > 0
      .row
        .col-sm-9.col-sm-offset-1.margin-top-20
          %table.table.table-stripped
            %thead
              %tr
                %th.text-center{style: 'width: 8%'}
                  %h3
                    %strong
                      = t 'folder.ordination.name'
                %th.text-center{style: 'width: 20%'}
                  %strong
                    = t 'folder.ordination.date'
                %th.text-center
                  %strong
                    = t 'folder.ordination.ordinator'
              %tbody
                - folder.ordinations.each do |ordination|
                  = render 'folders/result_details/ordination_row', locals: {ordination: ordination}
    .col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
      = render '/folders/result_details/row', locals: { label: 'folder.contact.address', data: folder.address}
      - folder.phones.each do |phone|
        = render '/folders/result_details/row', locals: { label: phone_description(phone.description), data: phone.phoneNumber }
      - folder.emails.each do |email|
        = render '/folders/result_details/row', locals: { label: 'folder.contact.email', data: email.email }
      = render '/folders/result_details/row', locals: { label: 'folder.contact.webPage', data: folder.webPage }
      = render '/folders/result_details/education', locals: { educations: folder.educations }
      %a{:href => "#dissertations", name: 'dissertations'}
      = render '/folders/result_details/dissertations', locals: { dissertations: folder.dissertations }
      %a{:href => "#experiences", name: 'experiences'}
      = render '/folders/result_details/experiences', locals: { experiences: folder.experiences }
      %a{:href => "#publications", name: 'publications'}
      = render '/folders/result_details/publications', locals: { publications: folder.publications }
      %a{:href => "#languages", name: 'languages'}
      = render '/folders/result_details/languages', locals: { languages: folder.languages, lang_knowledges: folder.language_knowledges }
      = render '/folders/result_details/note', locals: { note: folder.note }
    .row
      .col-sm-9.col-sm-offset-1
        .margin-top-40.text-center
          .col-sm-6
            %h3{ style: 'display: inline-block;'}
              %strong
                = t 'date.title'
            .date{ style: 'border-bottom: 1px solid grey; display: inline-block; margin-left: 10px;'}
              - time = Time.now
              = [l(time, format: :day), t(:'date.month_names')[l(time, format: :month).to_i], l(time, format: :years), t('y')].join(' ')
          .col-sm-6
            %h3{ style: 'display: inline-block;'}
              %strong
                = t 'sign'
            .sign{ style: 'border-bottom: 1px solid grey; display: inline-block; margin-left: 10px;'}
              = folder.firstName + ' ' + folder.lastName
    .row.margin-top-40
      .col-sm-9.col-sm-offset-1
        Додаткова інформація про правила користування Альманахом Додаткова інформація про правила користування Альманахом Додаткова інформація про правила користування Альманахом Додаткова інформація про правила користування Альманахом Додаткова інформація про правила користування Альманахом Додаткова інформація про правила користування Альманахом Додаткова інформація про правила користування Альманахомv Додаткова інформація про правила користування Альманахом