#result.tab-pane{role: 'tabpanel', class: (!locals[:active].nil? ? 'active' : '') }
  %h3
    %strong
      = t('search_results') + ':'
  - folders = locals[:resource]
  - unless folders.nil?
    - folders.each do |folder|
      - unless(folder.firstName.nil? and folder.lastName.nil?)
        = render 'folders/results/result_item', locals: {folder: folder}
  - else
    = t 'no_data'