#search.tab-pane{role: 'tabpanel', class: ( !locals[:active].nil? ? 'active' : '') }
  = form_tag folders_search_path, class: ['form-inline', 'margin-top-40', 'col-xs-12', 'col-xs-offset-0', 'col-md-10', 'col-md-offset-1', 'text-center'], method: :post do
    .form-group.col-xs-12.col-sm-12
      = text_field_tag 'search', '', style: 'width: 80%; margin: 0 auto;', class: 'form-control'
    .form-group.margin-top-20.col-xs-4.col-xs-offset-4
      = submit_tag t('search'), class: ['btn', 'btn-success'], style: 'width: 100%'