.container
  .row
    .col-sm-7.col-sm-offset-3.col-md-6.col-md-offset-3
      .panel.panel-success.margin-top-20
        .panel-heading.text-center
          = t 'login.header'
        .panel-body
          = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: ['text-center', 'margin-top-20'] }) do |f|
            .form-group.login-input-width{style: 'display: inline-block;'}
              = f.email_field :email, autofocus: true, placeholder: t('email.placeholder'), class: ['form-control']
              %br/
              = f.password_field :password, autocomplete: "off", placeholder: t('password.placeholder'), class:['form-control', 'login-input-width']
              %br/
              = f.submit t('login.name'), class: ['btn', 'btn-success', 'btn-login-width']
              %br/
              %br/
              = f.submit t('login.google.name'), class:  ['btn', 'btn-danger', 'btn-login-width']
              - if devise_mapping.rememberable?
                .checkbox
                  = f.check_box :remember_me
                  = f.label :remember_me, t('remember_me')
              -# = render "devise/shared/links"