.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
  .row.margin-top-20
    .col-xs-11.cols-xs-offset-1
      .panel.panel-success
        .panel-heading
          = t 'folder.dissertations.title'
        .panel-body
          - if locals[:dissertations].length
            %table.table.table-condensed.table-striped.table-bordered
              %tbody
                - locals[:dissertations].each do |dissertation|
                  %tr
                    %th.col-xs-3
                      = t('folder.dissertations.years')
                    %th.col-xs-3
                      = t 'folder.dissertations.approvment_date'
                    %th
                      = t 'folder.dissertations.title'
                  %tr
                    %td
                      = l dissertation.startDate, format: :years
                      &dash;
                      = l dissertation.finishDate, format: :years
                      = ' ' + t('yy')
                    %td
                      = [l(dissertation.thesisDate, format: :day), t(:'date.month_names')[l(dissertation.thesisDate, format: :month).to_i], l(dissertation.thesisDate, format: :years), t('y')].join(' ')
                    %td
                      = dissertation.title
                  %tr
                    %th{ colspan: '2' }
                      = t 'folder.dissertations.level'
                    %th 
                      = t 'folder.dissertations.mentor'
                  %tr
                    %td{ colspan: '2' }
                      = t dissertation.educationLevel
                    %td
                      - mentor = dissertation.mentor
                      - education_place = dissertation.educationPlace
                      = mentor.lastName + ' ' + mentor.firstName + ', ' + education_place
                  %tr
                    %th{ colspan: '2' }
                      = t 'folder.dissertations.keywords'
                    %th
                      = t 'folder.dissertations.notes'
                  %tr
                    %td{ colspan: '2' }
                      - if dissertation.keywords.length 
                        - keywords = []
                        - dissertation.keywords.each do |keyword|
                          - keywords.push(keyword.name)
                        = keywords.join(', ')
                    %td
                      = dissertation.notes
          - else
            = t 'no_data'