.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
  .row.margin-top-40
    .col-xs-11.cols-xs-offset-1
      .panel.panel-success
        .panel-heading
          = t 'folder.education.title'
        .panel-body
          -if locals[:educations].length
            %table.table.table-condensed.table-striped
              %thead
                %tr
                  %th.col-xs-3
                    = t('folder.education.years')
                  %th.col-xs-3
                    = t 'folder.education.place'
                  %th
                    = t 'folder.education.level'
              %tbody
                - locals[:educations].each do |education|
                  %tr
                    %td
                      = l education.startDate, format: :years
                      &dash;
                      = l education.endDate, format: :years
                      = ' ' + t('yy')
                    %td
                      = education.place
                    %td
                      = t education.educationLevel
          - else
            = t 'no_data'
