.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
  .row.margin-top-20
    .col-xs-11.cols-xs-offset-1
      .panel.panel-success
        .panel-heading
          = t 'folder.experience.title'
        .panel-body
          -if locals[:experiences].length
            %table.table.table-condensed.table-striped
              %thead
                %tr
                  %th.col-xs-2
                    = t('folder.experience.years')
                  %th.col-xs-5
                    = t 'folder.experience.name'
                  %th
                    = t 'folder.experience.position'
              %tbody
                - locals[:experiences].each do |experience|
                  %tr
                    %td
                      = l experience.startDate, format: :years
                      &dash;
                      = l experience.endDate, format: :years
                      = ' ' + t('yy')
                    %td
                      = experience.place
                    %td
                      = experience.position
          - else
            = t 'no_data'
