.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
  .row.margin-top-20
    .col-xs-11.cols-xs-offset-1
      .panel.panel-success
        .panel-heading
          = t 'folder.foreign_language.title'
        .panel-body
          - if locals[:languages].length
            %table.table.table-condensed
              %tbody
                - locals[:languages].each do |language|
                  %tr
                    %td{style: 'border:none;'}
                      - knowledge = locals[:lang_knowledges].select{|knowledge| knowledge["languageId"] == language.languageId }
                      = language.name + '(' + knowledge[0][:level] + ')'
          - else
            = t 'no_data'