.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
  .row.margin-top-20
    .col-xs-11.cols-xs-offset-1
      .panel.panel-success
        .panel-heading
          = t 'folder.note.title'
        .panel-body
          - if !locals[:note].nil?
            %table.table.table-condensed
              %tbody
                %tr
                  %td{style: 'border:none;'}
                    = locals[:note]
          - else
            = t 'no_data'