.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
  .row.margin-top-20
    .col-xs-11.cols-xs-offset-1
      .panel.panel-success
        .panel-heading
          = t 'folder.publications.title'
        .panel-body
          - if locals[:publications].length
            %table.table.table-condensed.table-striped
              %tbody
                - i = 0
                - locals[:publications].each do |publication|
                  %tr
                    %td
                      = i += 1;
                      = publication.name + ', ' + [l(publication.date, format: :day), t(:'date.month_names')[l(publication.date, format: :month).to_i], l(publication.date, format: :years), t('y')].join(' ')
          - else
            = t 'no_data'