.row
  .col-sm-3.col-xs-6{style: 'text-align: right;'}
    %h4{style: 'margin: 3px 0;'}
      %strong
        = t(locals[:label]) + ":"
  .col-sm-6.cols-xs-6{style: 'padding: 0.3em 0;'}
    %span
      = locals[:data]
