.margin-top-20{class: active_class(locals[:active]), style: 'min-height: 117px;'}
  %img.img-rounded{:src => locals[:folder].avatar_url, :alt => "image for results", width: '115', height: '115', style: 'display: block; width:115px; heigth: 115px; float: left;'}
  %div{style: 'margin: 0 0 0 140px'}
    %h3{style: 'padding: 0; margin: 0;'}
      %strong
        = locals[:folder].firstName + ' ' + locals[:folder].lastName
      %a{:href => folder_path(locals[:folder].folderId), style: 'font-size: 0.6em; font-weight: normal;'}
        = t 'folder.user_details'
    %span
      - ['dissertations', 'publications', 'experiences', 'languages'].each do |stuff|
        - if locals[:folder].send(stuff.to_sym).length > 0
          = t stuff + '_number'
          .badge.btn-primary
            %a.text-grey-lightier{href: folder_path(locals[:folder].folderId) + '#' + stuff}
              = locals[:folder].send(stuff.to_sym).all.length
          %br/
    %p{style: 'padding: 0; margin: 0;'}
      = locals[:folder].note