// Place all the styles related to the folder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.btn-login-width {
  width: 230px;
}

.login-input-width {
  width: 266px;
}

.result_border_radius {
  -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   border-radius: 5px;
}

.active_result {
  @extend .result_border_radius;
  border:  1px solid #357EBD;
}

.text-white {
  color: #fff;
}

.text-grey-lightier, .text-grey-lightier:hover {
  color: #eee;
}

.text-grey-lightier:hover, .text-grey-lightier:visited {
  text-decoration: none;
}

.folder {
  #search {
    
  }
}
