!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Phd
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-static-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse'}
            %span.sr-only
              = t 'toggle_navigation'
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => ""}
            = I18n.t('almanackh')
        %ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse
          - if user_signed_in?
            %li
              = link_to folders_path do
                = t 'all'
            %li
              = link_to destroy_user_session_path, method: :delete do
                = t 'logout'
          - else
            %li
              = link_to new_user_session_path do
                = t 'login.name'
    .container
      .row
        .text-center
          %p.text-success
            = notice
          %p.text-danger
            = alert
        = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = filepicker_js_include_tag
    = render 'tracking/hotjar'